
#app-grid {
    layout: vertical;
}

#log {
    height: 90%;
    /* MODIFICATION: Use a specific hex code for purple for consistency. */
    border: tall #9370DB;
}

#status {
    height: 10%;
    content-align: center middle;
    background: $surface-darken-1;
}
